<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://bootswatch.com/4/materia/bootstrap.main.css">
    <link rel="stylesheet" href="static/css/restaurante.css">
    <title>Document</title>
</head>
<body>
    <div class="col-md-5">
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        {% for message in messages %}
        <div class="alert alert-success alert-dismissible fade show" role="alert">
            {{message}}
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
        {% endfor %}
        {% endif %}
        {% endwith %}
    <header id="navbar">
        <div id="nombre">
            <h1 style = "color: white;">Lentii</h1> 

        </div>
        <ul>
            <li>
                <a href="/ingresar">CREAR EVENTO</a>
            </li>
            <li>
                <a href="/registrar">REGISTRAR RESTAURANTE</a>
            </li>
            <li>
                <a href="/mostrar">VER EVENTOS</a>
            </li>
        </ul>
    </header>
    <br>
    <br>
    <br>
    <table class="content-table">
        <thead>
          <tr>
            <th>Evento</th>
            <th>Restaurante</th>
            <th>Evento</th>
            <th>Fecha de inicio</th>
            <th>Fecha final</th>
            <th>Opciones</th>
          </tr>
        </thead>
        <tbody>
            {% for Evento in Eventos %}
                <tr>
                    <td>{{ Evento[0] }}</td>
                    <td>{{ Evento[1] }}</td>
                    <td>{{ Evento[2]}}</td>
                    <td>{{ Evento[3] }}</td>
                    <td>{{ Evento[4] }}</td>
                    <td>
                        <a href="/editar/{{ Evento.0 }}" class="btn btn-secondary">Editar</a>
                        <a href="/eliminar/{{ Evento.0 }}" class="btn btn-danger btn-delete">Eliminar</a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>    
    </table>
</body>
</html>