<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<link rel="stylesheet" href="static/css/restaurante.css">
<title>Formulario Registro</title>
</head>
<body>
<section class="form-register">
<h4>Restaurantes</h4>
<input class="controls" type="text" name="nombre" id="nombew" placeholder="Nombre">
<input class="controls" type="text" name="lugar" id="lugar" placeholder="Direccion">
<input class="controls" type="text" name="telefono" id="telefono" placeholder="Telefono">
<input class="controls" type="text" name="categoria" id="categoria" placeholder="Categoria">
<p><a href="#"></a></p>
<input class="botons" type="submit" value="Registrar">
</section>

</body>
</html>